.todo-list {
    list-style: none;
  }
  
.todo-done {
    display: flex;
    align-items: center;
  }

.todo-undone {
    display: flex;
    align-items: center;
  }
  
li + li {
    margin-top: 10px;
  }